.box {
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  
/*

  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
  -webkit-touch-action: pan-x;
  */
}
.flexcontainer {
  

  width: 100%;
  height: 85.8vh;
  max-height:85.8vh;
  
  overflow-x: scroll;
 
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;

  user-select: none; /* Prevent text selection */
}


/* Scrollbar */
/* Scrollbar Track */

.flexcontainer::-webkit-scrollbar {

  display: none;
}



@media screen and (max-height: 500px) {
  .flexcontainer {
    height: fit-content;
    max-height: fit-content;
    
  }
}
.contentbox {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;


}


.flexitemright {
  margin-left: 11vh;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
 
}
@media screen and (max-width: 600px) {
  .flexitemright {
    margin-left: 8.5vh;
  }
  
}
.project {
  display: static;
  height: 12.5vh;
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  cursor: pointer;
  
}
@media screen and (max-height: 500px) {
  .project {
    height: calc(var(--vh, 1vh) * 14);
    ;
  }
}
.titlebox {
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.5em;

}

.names {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  width: 100%;
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
}
.names:hover {
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .names {
    font-size: 0.8rem;
  }
}
@media screen and (max-height: 500px) {
  .names {
    font-size: 0.7rem;
  }
}
.company {
  font-size: 2.5rem;
  color: black;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05rem;
  height: 50%;
}
.company:hover {
  cursor: default;
}

@media screen and (max-width: 1024px) {
  .company {
    font-size: 2rem;
  }
}
@media screen and (max-height: 500px) {
  .company {
    font-size:1.7rem;
  }
}
.photobox {
  width: fit-content;
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 100%;
 
}

.photo {
  height: 100%;
  width: auto;

  overflow: clip;
  margin-right: 0.5em;
  object-fit: cover;
}

.link {
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 11vh;
  background-color: white;
  bottom: 0;
  overflow: hidden;
}
.hidden {
  display: none;
}
.collaborators {
  display: flex;
  justify-content: center;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .flexcontainer {
    height: calc(var(--vh, 1vh) * 92.5);
    max-height: calc(var(--vh, 1vh) * 92.5);
  }
  .titlebox {
    width: fit-content;

    display: inline-block;
    white-space: nowrap; /* Prevent text from wrapping */
  }

  .names {
    font-size: 0.63rem;
    min-width: 30vw;

    display: inline-block;
    white-space: nowrap;
  }
  .company {
    font-size: 1.5rem;
    white-space: nowrap; /* Prevent text from wrapping */
  }
}
.preLineText {
  white-space: pre-line;
}
.testdiv{
  width: 25vh;
  height:15vh;
  border:2px solid black;
}