.box{
  height: 100%;
  max-height:100vh;
  display: flex;
  flex-direction: column;

  overflow:hidden;
}

@media screen and (max-width:600px){
  .box{
overflow-y: hidden;

  }
  
}

.flexcontainer {
  height: 85.8vh;
  max-height: 85.8vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  user-select: none; /* Prevent text selection */
}
@media screen and (max-width:600px){
  .flexcontainer{
      height: calc(var(--vh, 1vh) * 92.5);
      max-height: calc(var(--vh, 1vh) * 92.5);
      justify-content: center;
      align-items: center;
     
  }
  
}

.modalcontainer{
  height:100vh;
  max-height:100vh;
  width:100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display:flex;
  align-items: center;
  flex-direction:row;
  position: absolute;
  top:0;
  left:0;
  z-index:998;
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.9); /* Black w/ opacity */
  outline: none; /* Remove focus outline */
 
  user-select: none; /* Prevent text selection */
}
@media screen and (max-width: 600px) {
  .modalcontainer {

  align-items: center;
  }
  
}
.modalcontainer img:last-child {
  margin-left:0.2rem;
}
.moalcontainer img:first-child {
  margin-left:0;
}
.modalcontainer img:only-child{
  margin: auto;
  display: block;
  justify-content: center;
}



.flexitemright {
  width: 94%;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left:11vh;
}

.photo {
  height: 100%;
  width: auto;
  margin-left: 0.75em;
  max-width: 100vw;
}
.photo:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .photo {
    width:auto;
    max-width:300vw;
 
    object-fit: cover;
  }
  
}

.photocontainer{
  height:74.6vh;
  position: relative; /* Add relative positioning */
  display: inline-block;
 
}
@media screen and (max-width: 600px) {
  .photocontainer {
   height:calc(var(--vh, 1vh) * 85);
  }
  
}
.photocontainer:hover{
  .overlay {
    opacity: 100%;
  }
}

.overlay{
  position: absolute; /* Position the overlay relative to the container */
  bottom: 0;
  left: 0;
  width: calc(100% - 1.05rem); /* Set the overlay width to match the container */
  height: 10%; /* Set the overlay height to match the container */
  opacity: 0%; /* Adjust overlay opacity as needed */
  /* Set overlay background color */
  overflow: hidden;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  background-color:#8888;
  
}
@media screen and (max-width: 600px) {
  .overlay {
    
    width: 100%;
    bottom:0;
    width: calc(100% - 1.1rem); 
  }
  
}
.influencercontainer{
  height:100vh;
  max-height:100vh;
  width:100vw;

 
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  position: relative;


 
}
@media screen and (max-width: 600px) {
  .influencercontainer {
 width:auto;
  }
  
}
.influenceroverlay{
  position: absolute; /* Position the overlay relative to the container */
  bottom: 0;
  left:0;
  width: calc(100% - 0.4rem); /* Set the overlay width to match the container */
  height: 10%; /* Set the overlay height to match the container */
  opacity: 100%; /* Adjust overlay opacity as needed */
  /* Set overlay background color */
  overflow: hidden;
 
  display: flex;

  align-items: center;
  z-index:999;
}
@media screen and (max-width: 600px) {
  .influenceroverlay {
    bottom:20%;
  }
  
}
.influenceroverlaytext{
 /* Position the overlay text relative to the photoverlay */
  font-weight: bold;
  letter-spacing: .05rem;
  color: white;
  width:100%;
  font-size: 1rem;
  font-family: "Mukta", sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 999; /* Ensure text is displayed over the background */
  animation: marquee 20s linear infinite;
}


.photoverlay{
  position: absolute; /* Position the overlay relative to the container */
  bottom: 0;
  left: 0;
  width: 100%; /* Set the overlay width to match the container */
  height: 100%; /* Set the overlay height to match the container */
  opacity: 0.6; /* Adjust overlay opacity as needed */
  background-color: gray; /* Set overlay background color */

 
}
.influencerphotoverlay{
  position: absolute; /* Position the overlay relative to the container */

  width: 100%; /* Set the overlay width to match the container */
  height: 100%; /* Set the overlay height to match the container */
  opacity: 0.6; /* Adjust overlay opacity as needed */
  background-color: gray; /* Set overlay background color */

 
}

.overlaytext{
  position: absolute; /* Position the overlay text relative to the photoverlay */
  font-weight: bold;
  letter-spacing: .05rem;
  color: white;
  width:100%;
  font-size: 1rem;
  font-family: "Mukta", sans-serif;
  display: flex;
  justify-content: flex-start;
  z-index: 1; /* Ensure text is displayed over the background */
  margin-left:5vh;
  animation: marquee 20s;
}


@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.modalcontainer::-webkit-scrollbar {
  display: none;
  height:.25vh;
 }

.flexcontainer::-webkit-scrollbar-track {
  background: none;

}

/* Scrollbar */
/* Scrollbar Track */
.flexcontainer::-webkit-scrollbar-track {
 display: none;
}
.flexcontainer::-webkit-scrollbar {

  display: none; /* Hide scrollbar by default */
}

.flexcontainer::-webkit-scrollbar-thumb {
  background: #5555; /* Color of the scrollbar */
  border-radius: 10px; /* Roundness of the scrollbar */

}
/* Show scrollbar when scrolling */


.flexcontainer.scrolling::-webkit-scrollbar {
  display: block; /* Show scrollbar when scrolling */
  height:1vh;
}

/* Handle on hover */
.flexcontainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker background on hover */
  border-radius:10px;
}
.modal {
  position: relative; /* Stay in place */
  top: 0;
  left: 0;
 
  flex: 0 0 100vw;



  height: 100%; /* Full height */
width: min-content;
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.9); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items:center ;
}
.modalImg {

  justify-self: center;
  box-sizing:border-box;
  height: 100%;
  z-index: 2;
  animation: 2s zoom;
  max-width:100vw;
  margin-right: 0.4rem;
}
@media screen and (max-width: 600px) {
  .modalImg {
    max-height:calc(var(--vh, 1vh) * 100);
    min-width: 100vw;
    max-width:300vw;
  }
  
}

.prev {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left:0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 50px;
  height: 20px;
  width: 20px;
  color:white;
}

.next {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 1%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  height: 20px;
  width: 20px;
 color: white;
}

.close {
  z-index: 999;
  position: fixed;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  height: 20px;
  width: 20px;
  opacity:0.8;
}

.close:hover,
.close:focus {
  color: #bbb;
  opacity: 100%;
  text-decoration: none;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  color: #bbb;
  opacity: 100%;
}

.hidden {
  display: none;
}
.visible{
  display:block;
}
.solid{
  opacity: 100%;
}
.ratio{
  z-index: 999;
  color: white;
  font-size: 1.5rem;

  position: fixed;
bottom: 0%;
  left: 97.5%;
transform: translate(-50%, -50%);
}