.nav{
    box-sizing: border-box;
    width:100%;
    height:18vh;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    position: static;
    top:0;
    font-family: "Mukta", sans-serif;
    font-weight:800;
    }





.nav::-webkit-scrollbar {
display: none;
}

.title{
    box-sizing: border-box;
    font-size:2.2rem;
    font-weight:800;
    color: black;
    font-family: "Mukta", sans-serif;
  
    
}   

.link{
    text-decoration: none;
    padding-left:3.5%;
}

.link:hover{
cursor: pointer;
}