
.container{
    height:100%;
    width:auto;
    max-width:94%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:600px){
    .container{
        overflow: auto !important; /* Allow scrolling */
        max-height: none !important; /* Remove max-height */
    }
    
}
.contentbox{
    width: fit-content;
    height:fit-content;
    display: flex;
    flex-direction: column;
    margin-left:6%;
}

.ul1{
    column-count: 1;
}
.ul2 {
  
    column-count: 2;
    
}
.ul3 {
  
    column-count: 3;
    
}

.company {
    font-size: 2.5rem;
    color: black;
     font-family: "Mukta", sans-serif;
    font-weight: bold;
    letter-spacing: .05rem;
    height:50%;
  }

  .footer{
    margin-bottom:2.5%;
    font-weight: bold;
    color:gray
  }

  span{
    color:black
  }
  span:hover{
    cursor: pointer;
  }

body {
    font-size: 1.4rem; /* Base font size */
}

h1 {
    font-size: 2.8rem; /* Heading font size */
}

p, li {
    font-size: 1.4rem; /* Paragraph and list item font size */
}



@media screen and (max-width: 900px) {
    body {
        font-size: 1.4rem; /* Further adjust base font size for even larger screens */
    }

    h1 {
        font-size: 2.8rem; /* Further adjust heading font size for even larger screens */
    }

    p, li {
        font-size: 1.4rem; /* Further adjust paragraph and list item font size for even larger screens */
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 1.2rem; /* Adjust base font size for larger screens */
    }

    h1 {
        font-size: 1.1rem; /* Adjust heading font size for larger screens */
    }

    p, li {
        font-size: .95rem; /* Adjust paragraph and list item font size for larger screens */
    }
    .footer{
        font-size: 1rem;
    }
}